*{
    margin: 0;
    padding: 0;
    width: 100%;  
    max-width: 1600px;
    box-sizing: border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif ;
    background-color: #fff;
}

.halaman-awal{
    display: grid;
    grid-template-columns: 450px 0.8fr 360px;
    gap: 20px;
}

.sidebar-kiri{
    border-right: none;
    padding-right: 20px;
    padding-left: 190px;
}

.logo{
    width: 65px;
}

.menu{
    display: flex;
    flex-direction: column;
}

.menu-item{
    display: flex;
    text-decoration: none;
    color: #222;
    padding: 15px;
    border-radius: 12px;
    align-items: center;
    font-size: 20px;
}

.menu-item:hover{
    background: #eee;
    font-weight: 700;
}

.logo_sidebar{
    display: flex;
    width: 60px;
    height: 100%;
    padding-right: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
}

.btn-posting{
    margin-top: 20px;
    width: 100%;
    padding: 15px 15px;
    border-radius: 999px;
    font-size: 16px;
    border: none;
    background: #111;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.profile-item{
  display:flex;
  align-items:center;
  margin-top: 20%;
 width: 100%;
 padding: 10px 25px;
}

.profile-avatar{
   width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden; 
    background: #ccc;
}

.profile-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.profile-item:hover{
    background: #eee;
}

.profile-info{
    display: flex;
    flex-direction: column;
}

.profile-info strong{
  padding-left: 10%;
}

.profile-info span{
  font-size:13px;
  color:#777;
  padding-left: 10%;
}


/* Konten yg Tengah*/

.main-content{
    border-right: 1px solid #eee;
    border-left:  1px solid #eee;
    padding: 0px;
    margin-left: 5px;
}

.tabs {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  border-bottom: 1px solid #eee;
}

/* sembunyikan radio */
.tabs input {
  display: none;
}

.tab {
  cursor: pointer;
  padding: 20px 0 15px;
  text-align: center;
  font-size: 15px;
  color: #555;
  font-weight: 700;
}

/* garis biru */
.indicator {
  position: absolute;
  bottom: 0;
  left: 120px;
  width: 50px;
  height: 3px;
  background: #1d9bf0;
  border-radius: 999px;
  transition: 0.6s ease;
}

/* posisi indikator */
#for-you:checked ~ .indicator {
  transform: translateX(0);
}

#following:checked ~ .indicator {
  transform: translateX(310px); /* sesuaikan jarak */
}

/* warna teks aktif */
#for-you:checked + label,
#following:checked + label {
  color: #000;
  font-weight: 600;
}

.tab:hover{
    background-color: #eee;
}

.post-box{
    display: block;
    gap: 15px;
    align-items: center;
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
    flex-direction: column;
}

.post-top{
    display: flex;
    gap: 15px;
    align-items: center;
}

.avatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden; 
    background: #ccc;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.post-box input{
    flex: 1;
    padding: 15px 12px;
    border: none;
    border-radius: 0px;
    align-items: flex-end;
}

.post-input-footer{
    display: flex;
    padding: 10px 0 0;
    text-align: center;
    gap: 0px;
}

.post-input-action{
    color: #777;
    font-size: 15px;
    cursor: pointer;
    margin-top: 6px;
    padding-left: 10px;
}

.btn-post{
    padding: 12px 22px;
    border: none;
    border-radius: 999px;
    background: #6b6b6b;
    color: #fff;
    cursor: pointer;
    margin-left: 220px;
    width: 20%;
}

.show-more{
    width: 100%;
    border: 1px solid #eee;
    font-size: 16px;
    padding: 15px 0px;
    align-items: center;
    cursor: pointer;
    background-color: #fff;
}

.show-more:hover{
    background: #eee;
}

.post-card{
    border-bottom: 1px solid #eee;
    padding: 25px 16px;
}

.post-card:hover{
  background: #eee;
}

.post-header{
    display: flex;
    gap: 12px;
    align-items: center;
}

.post-avatar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
    overflow: hidden;
}
.post-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.post-user{
    display: inline-flex;
    cursor: pointer;
    align-items: center;
}

.post-name{
    font-weight: 700;
    font-size: 14px;
    width: auto;
}

.post-handle{
    padding-left: 0;
    margin-left: 5px;
    font-size: 13px;
    color: #777;
}

.post-body{
    margin-top: 12px;
}

.post-text{
    font-size: 15px;
    line-height: 1.5;
    color: #222;
}

.post-media {
    width: 100%;
    height: 320px;
    border-radius: 16px;
    margin-top: 12px;
    overflow: hidden;
}

.post-media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.post-footer{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    gap: 20px;
    padding-right: 10%;
}

.post-action{
    color: #777;
    font-size: 15px;
    cursor: pointer;
    width: 7%;
    text-align: center;
    align-items: center;
    padding-top: 1%;
    height: 27px;
}

.post-action:hover{
  background: #bbb;
  border-radius: 100%;
}

.sidebar-kanan{
    padding: 10px 0 0 10px;

}

.search-box{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #ddd;
    border-radius: 999px;
    padding: 10px 14px;
    margin-bottom: 20px;
}

.search-box input{
    border: none;
    outline: none;
    width: 100%;
}

.subscribe-card{
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 16px;
  margin-bottom: 20px;
}

.btn-subscribe{
    margin-top: 20px;
    width: 35%;
    padding: 12px 0px;
    border-radius: 999px;
    border: none;
    background: #2590e2;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.card{
  border: 1px solid #eee;
  border-radius: 12px;
  padding: 0px;
  margin-bottom: 20px;
  width: 100%;
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
}

.news-card .card-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding: 20px 20px 10px;

}

.close{
  cursor:pointer;
  color:#888;
}

.news-item{
  padding: 10px 20px;
  border-bottom:1px solid #eee;
}

.news-item:hover{
    background: #eee;
}

.news-item:last-child{
  border-bottom:none;
}

.news-title{
  font-size:14px;
  font-weight:600;
  line-height:1.4;
}

.news-meta{
  font-size:12px;
  color:#777;
  margin-top:4px;
}

.trend-item{
  padding: 10px 20px;
  border: #fff;
  text-align: start;
}

.trend-item:hover{
    background: #eee;
}

.trend-item:last-child{
  border-bottom:none;
}

.trend-info{
  font-size:12px;
  color:#777;
  display:flex;
  margin-bottom:2px;
}

.follow-item{
  display:flex;
  align-items:center;
  padding: 10px 20px;
}

.follow-avatar{
    width: 20%;
    height: 40px;
    border-radius: 50%;
    background: #ccc;
    overflow: hidden;
}

.follow-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

.follow-item:hover{
    background: #eee;
}

.follow-info{
    display: flex;
    flex-direction: column;
}

.follow-info strong{
  padding-left: 5%;
}

.follow-info span{
  font-size:13px;
  color:#777;
  padding-left: 5%;
}

.follow-btn{
  margin-left:1px 1px;
  padding: 1px 1px;
  background:#111;
  color:#fff;
  border:none;
  border-radius:999px;
  padding:10px 1px;
  font-weight:600;
  cursor:pointer;
  width: 40%;
}



















